<script>

import service from '../service/solucxService.js';
export default {
    name: "content-home",
    methods:{

      cadastrarNovo(evento){

      this.$notify({
      group: 'mensagemConfirmacao',
      title: '<h4>Sucesso !</h4>',
      text: '<h5>Item Cadastrado.</h5>',
      type: 'success',
      duration: 2500      
      });

      },

      visualizarErro(id){
        
        var objetoSelecionado = _.find(this.rows, function(item){
          
          return item.id === id;

        });

        console.log(objetoSelecionado);

        this.objetoItem.errors = objetoSelecionado.errors;

        this.$refs.modalVisualizarErro.show();
        

      }

    },
    data(){
        return {
        columns: [
        {
          label: 'Nome do Arquivo',
          field: 'file_name',
          type: 'String'
        },
        {
          label: 'Processado em',
          field: 'processing_date',
          type: 'date',
          dateInputFormat: 'YYYY-MM-DD',
          dateOutputFormat: 'DD/MM/YYYY',
          tdClass: 'text-center',
          thClass: 'text-center',
        },
        {
          label: 'Responsável',
          field: 'user',
          type: 'String',
          tdClass: 'text-center',
          thClass: 'text-center',
        },
        {
          label: 'Nº Registros',
          field: 'number_of_entries',
          type: 'number',
          tdClass: 'text-center',
          thClass: 'text-center',
          
        },
        {
          label: 'Status',
          field: 'status',
          tdClass: 'text-center',
          thClass: 'text-center',
        },
        {
          label: 'Ação',
          field: 'action',
        }
      ],
    
        responsaveis: [
        { text: 'Selecione um responsável', value: null },
        'Olívio Rodrigues', 'Daniel Ferreira', 'Tiago', 'Administrador'
      ],

    rows: [],

    objetoItem : {

      errors : []

    },

    };

    },
    created: function(){
        this.rows = service.getBases(); 
    }
};
</script>
